/* Base styles */
body {
    font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
    line-height: 1.5;
    color: #1b1b18;
    background-color: #FDFDFC;
}

/* Add your custom CSS here */
